######################################################################
PROJECT_NAME = "raspcam"
VERSION = "0.1.0"

######################################################################
### Web Configurations ###

WEB_DEBUG = True

######################################################################
### Camera Configurations ###

CAMERA_NAME = "Raspberry Cam"
CAMERA_SLEEP = 5

######################################################################
