######################################################################
PROJECT_NAME = "raspcam"
VERSION = "0.1.0"

######################################################################
### Web Configurations ###

WEB_DEBUG = True

######################################################################
